.footer
    margin 0 auto
    padding 0 15px
    max-width $contentWidth

    &__items
        display block
        padding 15px 0 0
        text-align right

    &__item
        display inline-block
        line-height 32px
