.avatar
    position relative
    display inline-block
    vertical-align middle
    overflow hidden

    border-radius 50%
    background-color: $gray.light
    background-image url(./avatar.svg)
    background-repeat no-repeat
    background-size 70%
    background-position center bottom

    &_size
        &_s
            size 30px
        &_m
            size 50px
        &_l
            size 80px

