$offset = 90
$duration = 1.5s

.spinner
    display inline-block
    vertical-align middle
    line-height 1!important

    &_size
        &_s
            width 16px

        &_m
            width 20px

        &_l
            width 24px

        &_xl
            width 30px

        &_xxl
            width 32px

        &_xxxl
            width 50px

    svg
        animation rotator $duration linear infinite
        size 100%

    circle
        stroke-dasharray $offset
        stroke-dashoffset 0
        stroke currentColor
        transform-origin center
        animation dash $duration ease-in-out infinite
        
        
@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
        stroke-dashoffset: ($offset/5);
        transform:rotate(90deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform:rotate(360deg);
    }
}
