.home
    padding 10px 15px


    &__header
        margin 0
        padding 10px 0

        font-weight 800

    &__title
        padding 5px 0
        font-weight 600

    &__note
        padding 5px 0
        color: $colors.gray
