$this = '.icon'

{$this}
    display inline-block
    vertical-align middle
    line-height 1
    -webkit-tap-highlight-color transparent

    &_size
        &_xxs
            font-size 8px

        &_xs
            font-size 12px

        &_s
            font-size 16px

        &_m
            font-size 20px

        &_l
            font-size 24px

        &_xl
            font-size 32px

        &_xxl
            font-size 40px
