.sign-in
    display block
    max-width 300px
    margin 0 auto
    text-align center

    &__header
        padding 10px
        font-weight 400
        text-transform uppercase
        letter-spacing -.4px


    &__avatar
        margin 50px 0
