$this = '.button'

{$this}
    display inline-block
    vertical-align top
    font-family inherit
    font-weight 400
    line-height 1.2
    text-decoration none
    text-align center
    white-space nowrap
    cursor pointer
    position relative
    border 1px solid transparent
    border-radius 2px
    user-select none
    -webkit-tap-highlight-color transparent

    &:hover
    &:focus
    &:active
        text-decoration none
        outline none

    &:active
        -webkit-tap-highlight-color rgba(0, 0, 0, .1)

    &:disabled
    &_disabled
        cursor default
        opacity .4

    &_size
        &_xs
            height 24px
            padding 6px
            font-size 12px

            {$this}__icon:not(:last-child)
                margin-right 5px

        &_s
            height 36px
            min-width 50px
            padding 9px 8px
            font-size 14px

            {$this}__icon:not(:last-child)
                margin-right 5px
        &_m
            height 50px
            min-width 50px
            padding 16px 14px
            font-size 14px

            {$this}__icon
                margin-right 10px


        &_l
            height 60px
            min-width 80px
            padding 20px 25px
            font-size 16px


    &_width_full
        width 100%


    &_theme
        &_green
            mixin-button-theme($colors.green)

        &_black
            mixin-button-theme($colors.black)

        &_trello
            mixin-button-theme($colors.trello, false)

        &_blue
            mixin-button-theme($colors.blue)

        &_clean
            mixin-button-theme(transparent, false, $gray.middle)


    &_style
        &_round
            border-radius 50%
            padding-left 0
            padding-right 0

    & > &__icon
        display inline-block
        vertical-align middle


    &__label
        display inline-block
        font-weight 600
        text-transform uppercase
        vertical-align middle


    .spinner
        absolute left 50% top 50%
        size 50%
        color inherit
        display none
        transform translate(-50%, -50%)

    &_pending .spinner
        display inline-block

    &_pending &__label
    &_pending &__icon
        visibility hidden


    &_pending
        pointer-events none
