.header
    display block
    border-bottom: 1px solid $gray.border
    background-color: $gray.superLight

    &__container
        max-width $contentWidth
        margin 0 auto
        padding 0 15px

        clearfix()


    &__logo
        float left
        width 40px
        display none

        &-img
            display inline-block
            vertical-align middle
            size 30px


    &__auth
        float right


    &__items
        margin 0
        white-space nowrap


    &__auth &__item
    &__items &__item
        padding 0 10px

    &__item
        position relative
        display inline-block
        line-height 50px
        vertical-align middle
        color: $colors.gray
        font-size 12px

        &:before
            display none
            content ''
            absolute bottom -1px left
            width 100%
            height 1px
            background-color: $colors.gray

        &.is-active
            color: $colors.black

            &:before
                display block
                background-color: $colors.black



    &__profile
        white-space nowrap

        &-item
            display inline-block
            vertical-align middle

            &_name
                max-width 120px
                ellipsis()

    @media(min-width: $devices.iphone6)
        &__logo
            display block

        &__items
            margin 0  60px

    @media(min-width: $devices.iphoneLandscape)

        &__item
            font-size 14px
