.profile-page
    display block

    &__container
        max-width $contentWidth
        padding 10px 15px 50px
        margin 0 auto

    &__menu
        font-size 13px


        &-item
            display inline-block
            margin-right 30px
            line-height 32px
            vertical-align center
            border-bottom 1px solid transparent
            color: $colors.gray

            &.is-active
                color: $colors.black
                border-bottom-color: $colors.black


    &__pages
        margin-top 20px


    @media(min-width: $devices.ipad)
        &__menu
            font-size 16px


        &__pages
            margin-top 50px
