.binding
    position relative
    display block
    margin 0 -15px
    padding 0 15px
    border-bottom: 1px solid $gray.border

    &__body
        clearfix()

    &__item
        margin-bottom 20px

        &:first-of-type
            margin-bottom 100px

    &__error
        position absolute
        color: $colors.red
        font-size 10px
        margin-top 10px
        width: 100px

    &__remove
        display inline-block
        color: $gray.middle
        margin-bottom 5px

    &__scheme
        absolute left right
        margin -250px auto 0
        text-align center

        &-item
            font-size 64px
            height 32px
            line-height @height
            color: $gray.middle
            overflow hidden
            cursor pointer

            &_active
                color: $colors.green

            .icon
                line-height @line-height


        &-state
            margin-top 10px
            font-size 10px

        &-enabled
            color: $colors.green

        &-disabled
            color: $colors.red

        &-add
            padding 20px 0

            .button
                margin-top 10px


    @media(min-width: $devices.ipad)
        max-width 660px
        border none
        margin 0
        padding 29px 0 0

        &__item
            float right
            margin-bottom 0

            &:first-of-type
                float left
                margin-bottom 0

        &__scheme
            position relative
            max-width 100px
            margin 0 auto
            text-align center

            &-item
                &:hover
                    color: $colors.green

                &_active
                    color: $colors.green

                    &:hover
                        color: $colors.red

        &:hover &__remove
            display inline-block

        &__remove
            absolute top
            display none

            &:hover
                color: $colors.red
