.binding-list
    display block

    &__items
        display block


    &__item
        display block
        margin-bottom 20px


    &__button
        margin-bottom 20px


    &__title
        margin 10px 0
        font-weight 600
        font-size 16px

        color: $colors.gray
