.layout
    position relative
    height 100%
    color: $colors.black

    &__container
        min-height 100%
        margin 0 auto
        padding-bottom $footerHeight


    &__footer
        height $footerHeight
        margin-top -($footerHeight)
        background: $gray.light
