$colors = {
    black: #000,
    gray: #333,
    white: #fff,
    blue: #389BFF,
    red: #EB5945
}

$gray = {
    border: #D4D8DF,
    superLight: #FBFBFD,
    light: #EFF0F4,
    middle: #C0C4CA,
    dark: #B2BBC6
}

$devices = {
    desktop: 1224px,
    ipadLandscape: 1024px,
    ipad: 768px,

    iphone5Horizontal: 568px,
    iphone6Plus: 414px,
    iphone6: 375px,
    galaxy5: 360px,
    iphone5: 320px
}

$contentWidth = 960px
$footerHeight = 60px
