$colors = {
    black: #333333,
    gray: #575757,
    white: #fff,
    blue: #389BFF,
    blueDark: #527aff,
    red: #EB5945,
    green: #5eca11,

    trello: #007AC2
}

$gray = {
    superLight: #FBFBFD,
    light: #EFF0F4,
    border: #D4D8DF,
    middle: #C0C4CA,
    dark: #B2BBC6
}

$devices = {
    desktop: 1224px,
    ipadLandscape: 1024px,
    ipad: 768px,

    iphoneLandscape: 568px,
    iphone6Plus: 414px,
    iphone6: 375px,
    galaxy5: 360px,
    iphone5: 320px
}

$contentWidth = 960px
$footerHeight = 60px
